* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.browser-history-bg-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.browser-history-search-container {
  background-color: #3367d6;
  height: 12vh;
  margin: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  margin-bottom: 1rem;
}

.browser-history-logo-container {
  margin-right: 4rem;
}

.browser-history-logo-img {
  height: 1.8rem;
  width: 7rem;
}

.browser-history-search-bar-container {
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  border: 0.1rem solid #6697ff;
  background-color: #2850a7;
  padding: 0;
  flex-grow: 1;
}

.browser-history-search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: inherit;
  border: none;
  border-right: 0.1rem solid #6697ff;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  height: 100%;
  margin: 0;
}

.browser-history-search-icon-img {
  height: 1.5rem;
  width: 1.5rem;
}

.browser-history-search-input {
  background: inherit;
  padding: 0.5rem 0.75rem;
  color: #ffffff;
  border: none;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  width: 100%;
  outline: none;
  font-size: 1rem;
  height: 100%;
}

.browser-history-content-container {
  height: 88vh;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: 'Roboto';
}

.browser-history-empty-content-text {
  color: #475569;
  font-size: 1.5rem;
}

.browser-history-items-container {
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.5rem #ececec;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  width: 95%;
}

.browser-history-single-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.browser-history-item-log-time {
  color: #475569;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.browser-history-item-data-and-action-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.browser-history-item-data-container {
  display: flex;
  flex-grow: 1;
}

.browser-history-item-domain-logo {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
  margin-top: 0;
}

.browser-history-item-domain-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.browser-history-item-domain-title {
  color: #475569;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.browser-history-item-domain-name {
  color: #64748b;
  font-size: 0.8rem;
  margin-top: 0;
}

.browser-history-item-delete-action-container {
  display: flex;
  align-items: center;
  background: inherit;
  border: none;
  outline: none;
}

.browser-history-item-delete-icon-img {
  height: 1.3rem;
  width: 1.3rem;
}

@media (min-width: 768px) {
  .browser-history-search-container {
    height: 15vh;
    margin: 0;
    width: 100%;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
  }

  .browser-history-logo-container {
    margin-right: 18rem;
  }

  .browser-history-logo-img {
    height: 3rem;
    width: 10rem;
  }

  .browser-history-search-bar-container {
    border-radius: 0.4rem;
    border: none;
    padding: 0;
  }

  .browser-history-search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: inherit;
    border: 0.1rem solid #6697ff;
    border-right: 0.05rem solid #6697ff;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    height: 100%;
  }

  .browser-history-search-icon-img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .browser-history-search-input {
    background: inherit;
    padding: 0.5rem;
    color: #ffffff;
    border: 0.1rem solid #6697ff;
    border-left: -1px;
    border-left-width: 0.05rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    width: 100%;
    outline: none;
    font-size: 1rem;
    height: 100%;
  }

  .browser-history-content-container {
    height: 85vh;
    padding: 1rem 1.5rem;
  }

  .browser-history-empty-content-text {
    font-size: 1.5rem;
  }

  .browser-history-items-container {
    padding: 1.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1.5rem #ececec;
    list-style: none;
    height: 100%;
    width: 95%;
  }

  .browser-history-single-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .browser-history-item-log-time {
    font-size: 1.2rem;
  }

  .browser-history-item-data-and-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .browser-history-item-data-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .browser-history-item-domain-logo {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
  }

  .browser-history-item-domain-details-container {
    display: flex;
    align-items: center;
  }

  .browser-history-item-domain-title {
    font-size: 1rem;
  }

  .browser-history-item-domain-name {
    font-size: 0.8rem;
  }

  .browser-history-item-delete-action-container {
    display: flex;
    align-items: center;
  }

  .browser-history-item-delete-icon-img {
    height: 1.2rem;
    width: 1.2rem;
  }
}
